# Import Data

In [1]:
import os

# Directory path
directory = '/Users/manuel/Documents/GitHub/JeanPierreWeill/Data /Sales'

# List all files in the directory
print(os.listdir(directory))

['Sales By Subject', 'cleaned_sales_2018-09-23_2024-09-29.csv', '.DS_Store', 'sales_2018-09-23_2024-09-29.csv']

In [2]:
import pandas as pd
# Corrected file path with proper quotes
df = pd.read_csv('/Users/manuel/Documents/GitHub/JeanPierreWeill/Data /Sales/sales_2018-09-23_2024-09-29.csv')

# Display the first few rows to confirm it loaded correctly
df.head()

,day,order_id,billing_city,customer_id,product_id,product_price,product_title,product_type,variant_id,variant_sku,...,returns,return_fees,shipping,taxes,total_cost,total_tips,units_per_transaction,average_order_value,duties,additional_fees
0,2018-09-23,0,NaN,0,0,0.0,NaN,NaN,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
1,2018-09-24,0,NaN,0,0,0.0,NaN,NaN,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2,2018-09-25,0,NaN,0,0,0.0,NaN,NaN,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2018-09-26,0,NaN,0,0,0.0,NaN,NaN,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,2018-09-27,0,NaN,0,0,0.0,NaN,NaN,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13425 entries, 0 to 13424
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   day                      13425 non-null  object
 1   order_id                 13425 non-null  int64
 2   billing_city             12420 non-null  object
 3   customer_id              13425 non-null  int64
 4   product_id               13425 non-null  int64
 5   product_price            13425 non-null  float64
 6   product_title            7198 non-null   object
 7   product_type             6072 non-null   object
 8   variant_id               13425 non-null  int64
 9   variant_sku              1664 non-null   object
 10  variant_title            6736 non-null   object
 11  api_client_title         12420 non-null  object
 12  shipping_city            12398 non-null  object
 13  market_name              12418 non-null  object
 14  purchase_option          12420 non-null  object
 15  b2b                      13425 non-null  bool
 16  cancelled                12420 non-null  object
 17  cost_tracked             12420 non-null  object
 18  financial_status         12420 non-null  object
 19  order_name               12420 non-null  object
 20  sale_kind                12420 non-null  object
 21  billing_region           11594 non-null  object
 22  billing_country          12420 non-null  object
 23  customer_type            12420 non-null  object
 24  company_name             0 non-null      float64
 25  company_location_name    0 non-null      float64
 26  customer_cohort_month    13425 non-null  object
 27  customer_cohort_quarter  13425 non-null  object
 28  referrer_url             8730 non-null   object
 29  referrer_host            8730 non-null   object
 30  referring_channel        12420 non-null  object
 31  referring_platform       12420 non-null  object
 32  marketing_event_target   2 non-null      object
 33  marketing_event_type     68 non-null     object
 34  adjustment               12420 non-null  object
 35  total_sales              13425 non-null  float64
 36  discounts                13425 non-null  float64
 37  orders                   13425 non-null  int64
 38  customers                13425 non-null  int64
 39  net_quantity             13425 non-null  int64
 40  ordered_item_quantity    13425 non-null  int64
 41  gross_margin             13425 non-null  int64
 42  gross_profit             13425 non-null  float64
 43  gross_sales              13425 non-null  float64
 44  net_sales                13425 non-null  float64
 45  returns                  13425 non-null  float64
 46  return_fees              13425 non-null  float64
 47  shipping                 13425 non-null  float64
 48  taxes                    13425 non-null  float64
 49  total_cost               13425 non-null  float64
 50  total_tips               13425 non-null  float64
 51  units_per_transaction    13425 non-null  int64
 52  average_order_value      13425 non-null  float64
 53  duties                   13425 non-null  float64
 54  additional_fees          13425 non-null  float64
dtypes: bool(1), float64(17), int64(10), object(27)
memory usage: 5.5+ MB

# Cleaning the Data

In [4]:
# Checking for missing values and data types in the dataset
missing_values = df.isnull().sum()
data_types = df.dtypes

# Display missing values and data types for preprocessing
missing_values, data_types

(day                            0
 order_id                       0
 billing_city                1005
 customer_id                    0
 product_id                     0
 product_price                  0
 product_title               6227
 product_type                7353
 variant_id                     0
 variant_sku                11761
 variant_title               6689
 api_client_title            1005
 shipping_city               1027
 market_name                 1007
 purchase_option             1005
 b2b                            0
 cancelled                   1005
 cost_tracked                1005
 financial_status            1005
 order_name                  1005
 sale_kind                   1005
 billing_region              1831
 billing_country             1005
 customer_type               1005
 company_name               13425
 company_location_name      13425
 customer_cohort_month          0
 customer_cohort_quarter        0
 referrer_url                4695
 referrer_host               4695
 referring_channel           1005
 referring_platform          1005
 marketing_event_target     13423
 marketing_event_type       13357
 adjustment                  1005
 total_sales                    0
 discounts                      0
 orders                         0
 customers                      0
 net_quantity                   0
 ordered_item_quantity          0
 gross_margin                   0
 gross_profit                   0
 gross_sales                    0
 net_sales                      0
 returns                        0
 return_fees                    0
 shipping                       0
 taxes                          0
 total_cost                     0
 total_tips                     0
 units_per_transaction          0
 average_order_value            0
 duties                         0
 additional_fees                0
 dtype: int64,
 day                         object
 order_id                     int64
 billing_city                object
 customer_id                  int64
 product_id                   int64
 product_price              float64
 product_title               object
 product_type                object
 variant_id                   int64
 variant_sku                 object
 variant_title               object
 api_client_title            object
 shipping_city               object
 market_name                 object
 purchase_option             object
 b2b                           bool
 cancelled                   object
 cost_tracked                object
 financial_status            object
 order_name                  object
 sale_kind                   object
 billing_region              object
 billing_country             object
 customer_type               object
 company_name               float64
 company_location_name      float64
 customer_cohort_month       object
 customer_cohort_quarter     object
 referrer_url                object
 referrer_host               object
 referring_channel           object
 referring_platform          object
 marketing_event_target      object
 marketing_event_type        object
 adjustment                  object
 total_sales                float64
 discounts                  float64
 orders                       int64
 customers                    int64
 net_quantity                 int64
 ordered_item_quantity        int64
 gross_margin                 int64
 gross_profit               float64
 gross_sales                float64
 net_sales                  float64
 returns                    float64
 return_fees                float64
 shipping                   float64
 taxes                      float64
 total_cost                 float64
 total_tips                 float64
 units_per_transaction        int64
 average_order_value        float64
 duties                     float64
 additional_fees            float64
 dtype: object)

In [15]:
import pandas as pd
import numpy as np

# Load the data (assuming it's a CSV for example purposes)
df = pd.read_csv("/Users/manuel/Documents/GitHub/JeanPierreWeill/Data /Sales/sales_2018-09-23_2024-09-29.csv")

# Inspect the first few rows of the dataset
print(df.head())

# Convert 'day' to datetime format
df['day'] = pd.to_datetime(df['day'])

# Fill missing categorical values with 'Unknown'
categorical_cols = ['billing_city', 'product_title', 'product_type', 'variant_sku', 'variant_title', 
                    'api_client_title', 'shipping_city', 'market_name', 'purchase_option']
for col in categorical_cols:
    df[col].fillna('Unknown', inplace=True)

# Fill missing numerical values with 0
numerical_cols = ['company_name', 'company_location_name', 'total_sales', 'discounts', 'gross_profit']
for col in numerical_cols:
    df[col].fillna(0, inplace=True)

# Convert 'b2b' to boolean type
df['b2b'] = df['b2b'].astype(bool)

# Drop columns with too many missing values or irrelevant information
df.drop(['marketing_event_target', 'company_name', 'company_location_name'], axis=1, inplace=True)

# Drop duplicate rows
df.drop_duplicates(inplace=True)


# Extract additional date features
df['month'] = df['day'].dt.month
df['weekday'] = df['day'].dt.day_name()
df['year'] = df['day'].dt.year

# Rename columns to have consistent names
df.columns = df.columns.str.replace(' ', '_').str.lower()

# Check the cleaned dataset
print(df.info())
print(df.describe())

# Optional: save the cleaned dataset for future use
df.to_csv("/Users/manuel/Documents/GitHub/JeanPierreWeill/Data /Sales/cleaned_sales_2018-09-23_2024-09-29.csv", index=False)

          day  order_id billing_city  customer_id  product_id  product_price  \
0  2018-09-23         0          NaN            0           0            0.0
1  2018-09-24         0          NaN            0           0            0.0
2  2018-09-25         0          NaN            0           0            0.0
3  2018-09-26         0          NaN            0           0            0.0
4  2018-09-27         0          NaN            0           0            0.0

  product_title product_type  variant_id variant_sku  ... returns return_fees  \
0           NaN          NaN           0         NaN  ...     0.0         0.0
1           NaN          NaN           0         NaN  ...     0.0         0.0
2           NaN          NaN           0         NaN  ...     0.0         0.0
3           NaN          NaN           0         NaN  ...     0.0         0.0
4           NaN          NaN           0         NaN  ...     0.0         0.0

  shipping taxes total_cost  total_tips units_per_transaction  \
0      0.0   0.0        0.0         0.0                     0
1      0.0   0.0        0.0         0.0                     0
2      0.0   0.0        0.0         0.0                     0
3      0.0   0.0        0.0         0.0                     0
4      0.0   0.0        0.0         0.0                     0

  average_order_value duties additional_fees
0                 0.0    0.0             0.0
1                 0.0    0.0             0.0
2                 0.0    0.0             0.0
3                 0.0    0.0             0.0
4                 0.0    0.0             0.0

[5 rows x 55 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13425 entries, 0 to 13424
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   day                      13425 non-null  datetime64[ns]
 1   order_id                 13425 non-null  int64
 2   billing_city             13425 non-null  object
 3   customer_id              13425 non-null  int64
 4   product_id               13425 non-null  int64
 5   product_price            13425 non-null  float64
 6   product_title            13425 non-null  object
 7   product_type             13425 non-null  object
 8   variant_id               13425 non-null  int64
 9   variant_sku              13425 non-null  object
 10  variant_title            13425 non-null  object
 11  api_client_title         13425 non-null  object
 12  shipping_city            13425 non-null  object
 13  market_name              13425 non-null  object
 14  purchase_option          13425 non-null  object
 15  b2b                      13425 non-null  bool
 16  cancelled                12420 non-null  object
 17  cost_tracked             12420 non-null  object
 18  financial_status         12420 non-null  object
 19  order_name               12420 non-null  object
 20  sale_kind                12420 non-null  object
 21  billing_region           11594 non-null  object
 22  billing_country          12420 non-null  object
 23  customer_type            12420 non-null  object
 24  customer_cohort_month    13425 non-null  object
 25  customer_cohort_quarter  13425 non-null  object
 26  referrer_url             8730 non-null   object
 27  referrer_host            8730 non-null   object
 28  referring_channel        12420 non-null  object
 29  referring_platform       12420 non-null  object
 30  marketing_event_type     68 non-null     object
 31  adjustment               12420 non-null  object
 32  total_sales              13425 non-null  float64
 33  discounts                13425 non-null  float64
 34  orders                   13425 non-null  int64
 35  customers                13425 non-null  int64
 36  net_quantity             13425 non-null  int64
 37  ordered_item_quantity    13425 non-null  int64
 38  gross_margin             13425 non-null  int64
 39  gross_profit             13425 non-null  float64
 40  gross_sales              13425 non-null  float64
 41  net_sales                13425 non-null  float64
 42  returns                  13425 non-null  float64
 43  return_fees              13425 non-null  float64
 44  shipping                 13425 non-null  float64
 45  taxes                    13425 non-null  float64
 46  total_cost               13425 non-null  float64
 47  total_tips               13425 non-null  float64
 48  units_per_transaction    13425 non-null  int64
 49  average_order_value      13425 non-null  float64
 50  duties                   13425 non-null  float64
 51  additional_fees          13425 non-null  float64
 52  month                    13425 non-null  int32
 53  weekday                  13425 non-null  object
 54  year                     13425 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(15), int32(2), int64(10), object(26)
memory usage: 5.4+ MB
None
                                 day      order_id   customer_id  \
count                          13425  1.342500e+04  1.342500e+04
mean   2021-10-16 03:00:50.681564416  3.708926e+12  4.890095e+12
min              2018-09-23 00:00:00  0.000000e+00  0.000000e+00
25%              2021-01-19 00:00:00  2.987007e+12  4.353071e+12
50%              2021-05-01 00:00:00  3.764264e+12  5.069924e+12
75%              2022-03-18 00:00:00  4.644236e+12  5.961229e+12
max              2024-09-29 00:00:00  5.973919e+12  8.290357e+12
std                              NaN  1.431693e+12  1.897569e+12

         product_id  product_price    variant_id   total_sales     discounts  \
count  1.342500e+04   13425.000000  1.342500e+04  13425.000000  13425.000000
mean   2.386339e+12      70.409821  1.846909e+13     61.260285     -9.825097
min    0.000000e+00       0.000000  0.000000e+00   -477.000000  -9200.000000
25%    0.000000e+00       0.000000  0.000000e+00      0.000000      0.000000
50%    6.306383e+09      46.550000  3.249312e+13     39.200000      0.000000
75%    4.973513e+12      69.000000  3.457550e+13     59.000000      0.000000
max    8.630264e+12   22000.000000  4.483692e+13  18400.000000      0.000000
std    2.701075e+12     545.231585  1.742673e+13    368.044955    208.973844

             orders     customers  ...      shipping         taxes  \
count  13425.000000  13425.000000  ...  13425.000000  13425.000000
mean       0.530652      0.530652  ...      0.274860      0.084663
min        0.000000      0.000000  ...    -15.000000    -11.480000
25%        0.000000      0.000000  ...      0.000000      0.000000
50%        1.000000      1.000000  ...      0.000000      0.000000
75%        1.000000      1.000000  ...      0.000000      0.000000
max        1.000000      1.000000  ...     30.000000     51.260000
std        0.499078      0.499078  ...      2.093533      1.323016

       total_cost  total_tips  units_per_transaction  average_order_value  \
count     13425.0     13425.0           13425.000000         13425.000000
mean          0.0         0.0               0.553147            61.171366
min           0.0         0.0               0.000000             0.000000
25%           0.0         0.0               0.000000             0.000000
50%           0.0         0.0               1.000000            39.200000
75%           0.0         0.0               1.000000            59.000000
max           0.0         0.0              11.000000         18400.000000
std           0.0         0.0               0.572534           367.770290

        duties  additional_fees         month          year
count  13425.0          13425.0  13425.000000  13425.000000
mean       0.0              0.0      6.285736   2021.311285
min        0.0              0.0      1.000000   2018.000000
25%        0.0              0.0      3.000000   2021.000000
50%        0.0              0.0      5.000000   2021.000000
75%        0.0              0.0     11.000000   2022.000000
max        0.0              0.0     12.000000   2024.000000
std        0.0              0.0      3.947113      1.265669

[8 rows x 28 columns]

/var/folders/4n/_sfxdkln69z0380mkk8642fc0000gn/T/ipykernel_51059/1234658545.py:17: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



/var/folders/4n/_sfxdkln69z0380mkk8642fc0000gn/T/ipykernel_51059/1234658545.py:22: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [14]:
# Display the first few rows to confirm it loaded correctly
df.head()

,day,order_id,billing_city,customer_id,product_id,product_price,product_title,product_type,variant_id,variant_sku,...,taxes,total_cost,total_tips,units_per_transaction,average_order_value,duties,additional_fees,month,weekday,year
0,2018-09-23,0,Unknown,0,0,0.0,Unknown,Unknown,0,Unknown,...,0.0,0.0,0.0,0,0.0,0.0,0.0,9,Sunday,2018
1,2018-09-24,0,Unknown,0,0,0.0,Unknown,Unknown,0,Unknown,...,0.0,0.0,0.0,0,0.0,0.0,0.0,9,Monday,2018
2,2018-09-25,0,Unknown,0,0,0.0,Unknown,Unknown,0,Unknown,...,0.0,0.0,0.0,0,0.0,0.0,0.0,9,Tuesday,2018
3,2018-09-26,0,Unknown,0,0,0.0,Unknown,Unknown,0,Unknown,...,0.0,0.0,0.0,0,0.0,0.0,0.0,9,Wednesday,2018
4,2018-09-27,0,Unknown,0,0,0.0,Unknown,Unknown,0,Unknown,...,0.0,0.0,0.0,0,0.0,0.0,0.0,9,Thursday,2018

# EDA

* Countries

In [12]:
# Group by country and sum gross sales
sales_by_country = df.groupby('billing_country')['gross_sales'].sum().reset_index()

# Sort by sales and get the top 20 countries with the most sales
top_20_countries = sales_by_country.sort_values('gross_sales', ascending=False).head(20)

# Group by city and sum gross sales
sales_by_city = df.groupby('billing_city')['gross_sales'].sum().reset_index()

# Sort by sales and get the top 20 cities with the most sales
top_20_cities = sales_by_city.sort_values('gross_sales', ascending=False).head(20)

# Print the top 20 countries by sales
print("Top 20 Countries by Sales:")
print(top_20_countries.to_string(index=False))

Top 20 Countries by Sales:
     billing_country  gross_sales
       United States    756992.16
      United Kingdom     62223.85
         Switzerland     24230.60
               Japan     18961.25
              Canada     15181.51
United Arab Emirates     14899.00
             Germany     13786.70
           Australia      5690.40
               India      5618.00
              Israel      4917.25
           Singapore      4330.20
         Netherlands      2715.30
              France      1827.75
              Cyprus      1826.50
             Austria      1557.00
               Spain      1552.00
             Ireland      1501.10
               Italy      1451.00
         Philippines      1176.00
              Russia      1117.00

In [13]:
# Print the top 20 cities by sales
print("\nTop 20 Cities by Sales:")
print(top_20_cities.to_string(index=False))

Top 20 Cities by Sales:
       billing_city  gross_sales
         Rensselaer     94119.40
     Virginia Beach     24550.25
         Northbrook     23837.05
             London     20154.15
              Ogaki     18400.00
           New York     14976.82
Dubai Silicon Oasis     13200.00
         Greenville     12497.05
         Pfeffingen     11775.00
            Cypress      9299.30
   North Providence      8199.00
            Merrick      8090.00
             Zurich      7575.00
        Murrysville      7198.50
    Stevenson Ranch      7178.00
         San Angelo      7034.10
            Gwynedd      6990.00
          Lexington      6438.38
      San Francisco      6323.70
        Los Angeles      5925.73

# Visualizations

In [9]:
# First, install required packages (run these in terminal):
# pip install plotly
# pip install nbformat
# pip install ipykernel
# pip install kaleido  # For static image export

import plotly.express as px
import plotly.io as pio
import webbrowser
import os

def create_sales_visualization(df):
    # Calculate total sales by country
    sales_by_country = df.groupby('billing_country')['gross_sales'].sum().reset_index()
    
    # Create the bar chart
    fig_country_sales = px.bar(sales_by_country, 
                              x='billing_country', 
                              y='gross_sales',
                              title='Total Sales by Country', 
                              labels={'gross_sales': 'Total Sales'})
    
    # Save as HTML and automatically open in default browser
    html_path = "sales_visualization.html"
    fig_country_sales.write_html(html_path)
    
    # Get the absolute path
    absolute_path = os.path.abspath(html_path)
    
    # Open in default browser
    webbrowser.open('file://' + absolute_path)
    
    return fig_country_sales

# Usage:

fig = create_sales_visualization(df)

# Alternative: If you want to set a default renderer
# pio.renderers.default = "browser"  # This will open plots in your default browser

In [11]:
import plotly.express as px
import plotly.io as pio

# Set renderer for VS Code or Jupyter compatibility
pio.renderers.default = "vscode"  # You can also use "notebook" or "iframe"

In [10]:
import plotly.express as px

def create_sales_visualization(df):
    # Calculate total sales by country
    sales_by_country = df.groupby('billing_country')['gross_sales'].sum().reset_index()

    # Create the bar chart
    fig_country_sales = px.bar(sales_by_country, 
                               x='billing_country', 
                               y='gross_sales',
                               title='Total Sales by Country', 
                               labels={'gross_sales': 'Total Sales'})

    # Save static image to view in VS Code
    fig_country_sales.write_image("sales_visualization.png")  # Requires kaleido

    return fig_country_sales

# Usage:
fig = create_sales_visualization(df)